@page "/forget-me"
@model Chirp.Web.Pages.ForgetMe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>You have been forgotten :3</p>
</div>
</body>
</html>